# CMake
build*/
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
/fixclient

# Xcode
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
*.xcworkspace/
xcuserdata/
DerivedData/

# macOS
.DS_Store
